body
{
    background-color: white;
    overflow-x: hidden;
    
}

#bg-home
{
    background: url(img/background.jpg) no-repeat 50% 50%;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    display: table;
    background-size: cover;
}

#wrapD3Cube {
    width: 250px;
    height: 213px;
    margin: 20px auto;
    display: table-cell;
    /*top: 400%;*/
}
#D3Cube {
    width: 112px;
    height: 112px;
    top: 50px;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    margin: auto;
    position: relative;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#D3Cube > div {
    position: absolute;
    left: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 112px;
    height: 112px;
    float: left;
    overflow: hidden;
    opacity: 0.85;
}
#side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #FFF;
}
#side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #ffaf1c;
}
#side3 {
    transform: translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: translateX(0px) translateY(0px) translateZ(56px);
    background-color: #58d568;
}
#side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #ed3030;
}
#side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #1c5ffe;
}
#side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: #f2f215;
}



/*Hamburger menu*/
.container-menu {
    display: table-cell;
    cursor: pointer;
    position: fixed;
    align: right;
    top: 7%;
    left: 90%;
    border-radius: 50%;
    display: block;
  }
  
  .bar1, .bar2, .bar3 {
    width: 40px;
    height: 5px;
    background-color: rgb(236,236,236);
    margin: 6px 0;
    transition: 0.4s;
  }
  .change{
      color: black;
      z-index: 9999;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 8px);
    background-color: black;
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: black;
  }
  

  /*Side Nav Right*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow-y: hidden;
  }
  
  .sidenav a {
    padding: 10%;
    text-decoration: none;
    font-size: 120%;
    font-family: 'MerriWeather', serif;
    /*font-family: 'Alex Brush', cursive;*/
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    font-size: 140%;
    text-shadow: black;
  }

  .classWidth
  {
      width: 25%;
  }
  

  @media screen and (max-height: 450px) 
  {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  @media screen (min-width:900px) and (max-width:1024px)
  {
      .classWidth{
          width: 50%;
      }
  }

  
  @media screen (min-width:650px) and (max-width:900px)
  {
      .classWidth{
          width: 35%;
      }
      .container-menu
      {
          left: 96%;
      }
  }

  @media screen and (max-width: 650px)
  {
      .classWidth
      {
          width: 100%;
      }
      .container-menu
      {
          left: 80%;
      }
        
    .sidenav a:hover 
    {
    font-size: 140%;
    text-shadow: black;
    }

  }
